.BooksList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.count {
    margin-top: 15px;
    font-weight: 600;
    flex-basis: 100%;
    text-align: center;
}

.loader {
    flex-basis: 100%;
}

.button {
    cursor: pointer;
    border: none;
    padding: 15px;
    font-weight: 600;
    font-size: 25px;
    width: 200px;
    color: var(--black-color);
    background: var(--dark-gray);
}

.button:disabled {
    opacity: 0.7;
    cursor: auto;
}

.buttonWrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
