* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* Переменные */
    --black-color: #000;
    --white-bg: #fdfdfd;
    --light-gray: #f1f0ef;
    --dark-gray: #696969;
    --box-shadow-image:  rgba(101, 101, 101, 0.75) 10px 20px 20px;
}

body, html, #root {
    height: 100%;
    width: 100%;
}
